.App {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
  color: #ffffffaf;
}
.scrollbar-track {
  display: none !important;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  width: 100vw;
  background-color: #47474700;
}
.navbar_left {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 48px;
}
.navbar_left div {
  cursor: pointer;
}

.navbar_right {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 48px;
  flex-direction: row;
}

.navbar_right_discord {
  cursor: pointer;
}
.navbar_right_twitter {
  cursor: pointer;
  padding-left: 24px;
}


.VerticalScrollContent {
  position: relative;
  height: auto;
  width: 100%;
}

.HorizontalSectionDIV {
  position: relative;
  z-index: 9999;
  background-color: #ffffff98;
}
.WitchFixed {
  position: relative;
  z-index: -1;
}
.WitchBlock img {
  padding: 20px;
}

