.App {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /* background-color: #292929; */
  /* color: #FFFFFF; */
}
.ns-container {
  /* background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; */
} 
.backgroundFIXED {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.navbarFIXED {
  position: relative;
  z-index: 6;
}
.backgroundBlock2 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/background.png);
  /* background-image: url(./images/background2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  z-index: 2;
  top: 0px;
  /* z-index: -10; */
}
.scroll-content {
  background: #000;
}
.backgroundBlock {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/background.png);
  /* background-image: url(./images/background2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  z-index: 2;
  top: 4px;
  /* z-index: -10; */
}
.scrollbar-track {
  display: none !important;
}
.ns-horizontal-section__item {
  width: 100vw !important;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  width: 100vw;
  font-size: 14px;
  /* background-color: #47474700; */
}
.navbar_left {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 48px;
}
.navbar_left div {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;  color: #ffffffa2;
  transition: 0.3s ease-out;
}
.navbar_left div:hover {
  color: #ffffff;
}
.navbar_right div {
  color: #ffffffa2;
  transition: 0.3s ease-out;
}
.navbar_right div:hover {
  color: #ffffff;
}

.navbar_right {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 48px;
  flex-direction: row;
}

.navbar_right_discord {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;}
.navbar_right_twitter {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;  padding-left: 24px;
}


.VerticalScrollContent {
  position: relative;
  height: auto;
  width: 100%;
}

.HorizontalSectionDIV {
  position: relative;
  z-index: 5;
  /* background-color: #ffffff98; */
}
.WitchFixed {
  position: relative;
  z-index: 1;
}
.WitchBlock img {
  padding: 250px 65px;
  width: 250px;
}

@media screen and (max-width: 1034px) {
  .navbar {
    font-size: 12px;
  }
}
@media screen and (max-width: 514px) {
  .navbar {
    font-size: 10px;
  }
}







